@media screen and (max-width: 500px) {
    .market-about {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .fruits-container {
        grid-template-columns: repeat(2, 3fr);
    }

    .fruits-offer {
        flex-direction: column;
    }

    .shop>div {
        width: 100px;
    }

    #products-list form {
        display: flex;
        flex-flow: column;
    }

    #products-list form input {
        width: 100%;
        margin-bottom: 5px;
    }

    .about .people {
        grid-template-columns: repeat(1, 100%);
    }

    footer .contact .subscribe input {
        padding: .5rem 1rem .5rem 3rem;
    }

    footer .contact,
    footer .company {
        flex-direction: column;
    }

}

@media screen and (max-width :768px) {
    .market-about {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .fruits-container {
        grid-template-columns: repeat(2, 3fr);
    }
    .fruits-offer {
        flex-direction: column;
    }

    .favourites .fav-list,
    .fruit-shop .shop-list,
    .fruit-shop .newest {
        grid-template-columns: repeat(1, 1.5fr);
    }

    .shop>div {
        width: 100px;
    }

    #products-list form {
        display: flex;
        flex-flow: column;
    }

    #products-list form input {
        width: 100%;
    }

    .about .people {
        grid-template-columns: repeat(1, 100%);
    }

    footer .contact .subscribe input {
        padding: .5rem 1rem .5rem 3rem;
    }

    footer .contact,
    footer .company {
        flex-flow: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    .market-about {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .fruits-container {
        grid-template-columns: repeat(3, 3fr);
    }

    .favourites .fav-list,
    .fruit-shop .shop-list ,
    .fruit-shop .newest {
        grid-template-columns: repeat(3, 1fr);
    }

    .about .people {
        grid-template-columns: repeat(3, 1fr);
    }

    footer .contact .subscribe input {
        padding: .5rem 4rem .5rem 3rem;

    }
}

@media screen and (min-width: 1171px) {
    .market-about {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .fruits-container {
        grid-template-columns: repeat(3, 3fr);
    }

    .favourites .fav-list,
    .fruit-shop .shop-list,
    .fruit-shop .newest {
        grid-template-columns: repeat(4, 1fr);
    }

    .about .people {
        grid-template-columns: repeat(3, 1fr);
    }

    footer .contact .subscribe input {
        padding: .5rem 10rem .5rem 3rem;
    }
}